*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:90vh;
    font-family: sans-serif;
    background: linear-gradient(to right, darkblue,blue, aqua , darkblue);
}

h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px ;
    /* text decoration: underline */
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    width:20%;
    height:500px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

#result{
    border: 1px solid #333;
    padding: 40px 50px;
    height: 300px;
    width:90%;
    margin-bottom: 30px;
    background:linear-gradient(168deg , #ff9a9e,#fad0c4);
    border-radius: 7px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button{
    font-size:24px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: indigo;
    color:#fff;
    outline:none;
    border:none;
    animation: pulse 1.5s  infinite alternate;
    cursor:pointer;
}
 
@keyframes pulse{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


button:hover{
    size: 30px;
}

